:root {
    --red: #DA291C;
    --white: #FFFFFF;
    --RedDarck: #96172E;
    --gray: #9B9B9B;
    --grayDarck: #979797;
    --negro: #323237;
    --font: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
}

/************************header******************************/
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: #DA291C;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

/**********header titulo y logo*****/
.header_content {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_text {
    margin-right: 5px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.header_textSuperior {
    display: flex;
}

.header_textSuperior h1 {
    font-size: 1.6rem;
}

.header_textSuperior p {
    font-size: 1.6rem;
    font-weight: 100;
}

.header_textInferior {
    display: flex;
    justify-content: flex-end;
}

.header_textInferior p {
    font-size: 1.2rem;
    font-weight: 100;
}

.header_logo {
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

/*****header menu de navegacion*******/
.header_nav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_menu {
    position: fixed;
    width: 40%;
    height: 15vh;
    background-color: var(--red);
    text-align: center;
    top: -100vh;
    transition: all 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_nav a:hover {
    background-color: var(--RedDarck);
}

.header_nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 5px;
    width: 100px;
    display: flex;
    align-items: center;
    height: 40%;
}

.btn_menu {
    margin-right: 10px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.mostrar {
    top: 50px;
    transition: all .8s;
}

.activo {
    border-bottom: 2px solid white;
}

/************************Main******************************/
.main {
    width: 100%;
    height: auto;
}

/************************Main banner******************************/
.main_banner {
    width: 100%;
    height: 40vh;
    background-image: url("../Assets/Images/fondo.png");
    background-repeat: no-repeat;
    background-size: 200%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner_Content {
    background-color: rgba(0, 0, 0, .3);
    width: 90%;
    max-width: 580px;
    height: 50%;
    margin-bottom: 5%;
    margin-right: 5%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 4%;
    text-align: left;
}

.banner_Content h1 {
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.banner_Content p {
    font-size: 1.6rem;
    width: 90%;
}

.banner_Content button {
    display: none;
    cursor: pointer;
}

.banner_Content button:hover {
    background-color: var(--RedDarck);
}

/************************Main vuelos******************************/
.main_vuelos {
    margin: 0 auto;
    margin-top: 5%;
    width: 90%;
    height: auto;
    border: 1px solid #E2E8EE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    background-color: var(--white);
}

.main_vuelos form {
    margin-top: 8%;
    margin-bottom: 8%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_vuelos h1 {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--negro);
    margin-bottom: 8%;
}

.vuelos_selectores {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5%;
}

input[type="radio"] {
    display: none;
}

.vuelos_selectores label {
    cursor: pointer;
    margin-right: 6%;
    margin-bottom: 6%;
}

.vuelos_selectores label span {
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--negro);
    transition: .25s ease;
}

.vuelos_selectores label span:before {
    content: "";
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .25s ease;
    border: 2px solid var(--RedDarck);
}
.flechas{
    background-image: url(../Assets/Icons/flechas.png);
    width: 30px;
    height: 30px;
    left: 40%;
    top: 12%;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    border: 2px solid #E2E8EE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}
input[type="radio"]:checked+span:before {
    box-shadow: inset 0 0 0 3px var(--white);
    background-color: var(--RedDarck);
}

.vuelos_input {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.vuelos_input label {
    font-size: 1.4rem;
    color: var(--negro);
    margin-right: 5%;
}

.vuelos_input span {
    margin-bottom: 5%;
    font-weight: bold;
}

.vuelos_input input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 10px;
    width: 250px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 1.6rem;
    outline: none;
}

.vuelos_input input[type=button] {
    border: none;
    width: 250px;
    height: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.4rem;
    background-color: var(--red);
    border-radius: 5px;
    color: var(--white);
    outline: none;
    cursor: pointer;
}


select {
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1.5px solid black;
    border-right: 0px;
    font-size: 1.4rem;
    width: 250px;
    margin-top: 5%;
    margin-bottom: 15%;
    height: 30px;
    outline: none;
}

option {
    color: var(--negro);
    background-color: transparent;
}

::placeholder {
    font-size: 1.6rem;
}

.vuelos_final {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.vuelos_final div {
    background-image: url(../Assets/Icons/mas.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: #96172E;
    margin-right: 5%;
}

.vuelos_final a {
    font-size: 1.4rem;
    color: var(--RedDarck);
    font-weight: bold;
}

/************************Main Recomendaciones******************************/
.main_recomendado {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main_recomendado h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom: 2%;
}

.recomendado_Sub {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
}

.recomendado_Sub a {
    color: var(--RedDarck);
}

.recomendado_content {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.centro {
    width: 80%;
    border: 1px solid #E2E8EE;
    margin-right: 5%;
    display: none;
}

.centro img {
    width: 100%;
}

.centroUno {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.centroUno p {
    font-size: 1.4rem;
    font-weight: 700;
}

.centroUno span {
    background-image: url(../Assets/Icons/flecha.png);
    width: 15px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.centroDos {
    display: flex;
    justify-content: space-around;
}

.centroDos p {
    font-size: 1.2rem;
    color: #9B9B9B;
    font-weight: 700;
}

.centroTres {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: var(--gray);
    gap: 2%;
}

.recomendado_content input {
    border: none;
    width: 80%;
    margin: 5% 10%;
    height: 30px;
    font-size: 1.4rem;
    background-color: var(--red);
    border-radius: 5px;
    color: var(--white);
    outline: none;
    cursor: pointer;
}

.centroTres div {
    background-image: url(../Assets/Icons/avion2.png);
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.centroT::before {
    content: "|";
    color: var(--gray);
}

.centroT::after {
    content: "|";
    color: var(--gray);
}

.desdeV {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--negro);
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.valores {
    width: 100%;
    display: flex;
    margin-left: 5%;
    align-items: flex-end;
    margin-bottom: 2%;
}

.valor {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--negro);
    margin-bottom: 2%;
}

.moneda {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--negro);
    margin-left: 2%;
    margin-bottom: 2%;
}

.prev {
    margin-right: 5%;
    color: var(--gray);
    font-size: 1.6rem;
    transition: 0.6s ease;
    cursor: pointer;
}

.next {
    color: var(--gray);
    font-size: 1.6rem;
    transition: 0.6s ease;
    cursor: pointer;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/************************Main Acceso******************************/
.main_acceso {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 5% 0;
    margin-top: 10%;
    margin-bottom: 10%;
}

.main_accesoC {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_acceso h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom: 10%;
}

.acceso_content {
    width: 85%;
    height: auto;
    margin-bottom: 10%;
    text-align: justify;
}

.acceso_contentTitle {
    width: 90%;
    display: flex;
}

.vuelo {
    background-image: url(../Assets/Icons/avion.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-right: 5%;
}

.lupa {
    background-image: url(../Assets/Icons/lupa.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-right: 5%;
}

.codigo {
    background-image: url(../Assets/Icons/start.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-right: 5%;
}

.acceso_contentTitle h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

.acceso_contentC {
    width: 80%;
    margin-left: 40px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.acceso_contentC p {
    margin-bottom: 5%;
    line-height: 1.6rem;
}

.acceso_contentC a {
    color: var(--RedDarck);
    font-weight: 700;
}

.acceso_contentC div {
    display: flex;
}

.ir {
    background-image: url(../Assets/Icons/ir.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/************************Main Cuenta******************************/
.main_cuenta {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
}

.main_cuenta h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--negro);
    margin-bottom: 10%;
}

.main_cuentaC {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cuenta_content {
    width: 90%;
    padding: 5%;
    border: 1px solid #E2E8EE;
    margin-bottom: 5%;
}

.cuenta_content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom: 5%;
}

.cuenta_content p {
    font-size: 1.2rem;
    color: var(--negro);
    margin-bottom: 8%;
    line-height: 1.6rem;

}

.cuenta_content input {
    border: 2px solid var(--negro);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 5%;
    cursor: pointer;

}

/************************Footer******************************/
.footer {
    width: 100%;
    height: auto;
    border: 1px solid #E2E8EE;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************************FooterSuperior******************************/
.footer_superior {
    width: 90%;
    height: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_superior div {
    margin-bottom: 10%;
    height: auto;
    width: 90%;
}

.footer_superior h1 {
    font-size: 2rem;
    color: var(--red);
    font-weight: 900;
    margin-bottom: 5%;
}

.footer_superior p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    cursor: pointer;
    color: var(--negro);
}

/************************FooterMedio******************************/
.footer_medio {
    width: 80%;
    height: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.footer_medio h1 {
    font-size: 2rem;
    color: var(--red);
    font-weight: 900;
    margin-bottom: 8%;
}

.medio_redes {
    width: 100%;
}

.redes_rojas {
    width: 100%;
    display: flex;
    gap: 8%;

}

.redes_rojas p {
    display: none;
    cursor: pointer;

}

.redes_rojas div {
    display: flex;
    align-items: center;
}

.R1 {
    background-image: url(../Assets/Icons/twiiter.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: #96172E;
}

.R2 {
    background-image: url(../Assets/Icons/facebook.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: #96172E;
}

.R3 {
    background-image: url(../Assets/Icons/youtube.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: #96172E;
}

.R4 {
    background-image: url(../Assets/Icons/instagram.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: #96172E;
}

.redes_grises {
    width: 100%;
    margin-top: 8%;
    display: flex;
    gap: 1%;
}

.G1 {
    background-image: url(../Assets/Icons/seguro.png);
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.G2 {
    background-image: url(../Assets/Icons/vigilado.png);
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.G3 {
    background-image: url(../Assets/Icons/aeronautica.png);
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/************************FooterFinal*****************************/
.footer_final {
    width: 80%;
    height: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E2E8EE;
    margin-bottom: 8%;
}

.final_logo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    gap: 2%;
}

.final_logo h1 {
    color: var(--red);
    font-size: 1.6rem;
    font-weight: 700;

}

.final_avianca {
    display: flex;
}

.final_avianca div {
    background-image: url(../Assets/Icons/LogoRojo.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.footer_final p {
    margin-top: 5%;
    text-align: justify;
    font-size: 1.2rem;
    color: #9B9B9B;
    line-height: 1.8rem;
}