:root {
    --red:#DA291C;
    --white:#FFFFFF;
    --RedDarck:#96172E;
    --gray:#9B9B9B;
    --grayDarck: #979797;
    --font: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
}

/************************Main******************************/
/************************Main banner******************************/
.main_banner{
    background-size:cover;
    height: 80vh;
}
.banner_Content{
    margin-bottom: 10%;
    margin-right: 10%;
    width: 40%;
    height: 60%;
}
.banner_Content h1{
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.banner_Content p{
    font-size: 1.8rem;
    width: 100%;
}
.banner_Content button{
    display: flex;
    margin-top: 5%;
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
    border: none;
    color: var(--white);
    align-items: center;
    background-color: var(--red);
}
.flechas{
    left: 32%;
    top: 8%;
    width:30px;
    height: 30px;
}
/************************Main Recomendaciones******************************/
.main_recomendado {
    margin-top: 0%;
    margin-bottom: 5%;
}
.prev {
display: none;
}
.centro {
    display: block;
    width: 30%;
}
.next {
    display: none;
}
.recomendado_content input {
    border: none;
    width: 80%;
    margin: 5% 10%;
    height: 30px;
}
/************************Main Acceso******************************/
.acceso_content{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 5px;
}
.main_acceso h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom: 3%;
}
.acceso_contentTitle h1{
    font-size: 1.6rem;
    font-weight: 700;
}
.main_accesoC{
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
}
.medio{
    padding: 0px 5px;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);

}
/************************Main Cuenta******************************/
.uno,.dos{
    width: 45%;
}
.uno{
    margin-right: 5%;
}
.tres input{
    width: 50%;
    margin-bottom:3% ;
}
.main_cuentaC{
    width: 95%;
}
.cuenta_content{
    padding: 2%;
}
.cuenta_content h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom:3% ;
}
.cuenta_content p{
    font-size: 1.4rem;
    margin-bottom:4% ;
    line-height: 1.6rem;

}
/************************FooterSuperior******************************/
.footer_superior{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    align-items: flex-start;
}
.legal{
    margin-right: 0%;
}
.footer_superior div {
    width: 100%;
    margin-right: 5%;
    margin-bottom: 0;
}
/************************FooterMedio******************************/
.footer_medio {
    width: 100%;
}
.medio_redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes_grises{
    margin-top: 0%;
}
.redes_rojas {
    width: 50%;
    justify-content: space-around;
    padding:0 5%;
}
.redes_grises{
    width: 50%;
    border-left: 2px solid #E2E8EE;
    justify-content: space-around;
    padding:0 5%;
}
.footer_medio h1{
    margin-bottom: 3%;
}
/************************FooterFinal*****************************/
.footer_final {
    width: 100%;
}
.final_logo{
    justify-content: space-between;
}
.footer_final p{
    margin-top: 3%;
    font-size: 1.4rem;
}
.final_logo h1{
    font-size: 1.8rem;

}