:root {
    --red:#DA291C;
    --white:#FFFFFF;
    --RedDarck:#96172E;
    --gray:#9B9B9B;
    --grayDarck: #979797;
    --font: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
}

/************************header******************************/
.header{
    height: 60px;
}
/**********header titulo y logo*****/
.header_content{
    margin-left: 100px;
}
.header_textSuperior h1, .header_textSuperior p{
    font-size: 1.8rem;
}
.header_textInferior p{
    font-size: 1.4rem;
}
/*****header menu de navegacion*******/
.btn_menu{
    display: none;
}
.header_nav{
    width: 40%;
    margin-right: 10px;
}
.header_menu{
    width: 100%;
    position: static;
    display: flex;
    height: 100%;
    flex-direction: row;
}
.header_nav a{
    height: 100%;
    width: 100px;
    font-size: 1.4rem;
    margin-top: 0px;
    margin-right: 30%;
    justify-content: center;
}
.activo{
    border-top: 5px solid white;
    border-bottom: none;

}
/************************Main******************************/
/************************Main banner******************************/
.main_banner{
    background-size:cover;
    height: 80vh;
}
.banner_Content{
    margin-bottom: 10%;
    margin-right: 10%;
    width: 40%;
}
.banner_Content h1{
    width: 100%;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.banner_Content p{
    font-size: 2rem;
    width: 100%;
}
.banner_Content button{
    display: flex;
    margin-top: 5%;
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
    border: none;
    color: var(--white);
    align-items: center;
    background-color: var(--red);
}
/************************Main vuelos******************************/
.main_vuelos{
    position: relative;
    top: -100px;
    margin-bottom: 0%;
    border: 2px solid #E2E8EE;
}
.flechas{
    left: 28%;
    top: 10%;
    width:30px;
    height: 30px;
}
.main_vuelos form{
    margin-top: 2%;
    margin-bottom: 5%;
}
.main_vuelos h1{
    width: 100%;
    font-size:2rem;
    font-weight: bolder;
    color: var(--negro);
    margin-bottom: 2%;
}
.vuelos_selectores label span{
    font-size: 1.6rem;
}
.vuelos_selectores{
    margin-bottom: 3%;
}
.vuelos_selectores label{
    margin-bottom: 0%;
}

.vuelos_input label{
    margin-right: 5%;
}
.vuelos_input input{
    width: 300px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 1.6rem;
    outline: none;
}
select{
    width: 320px;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 15%;
    font-size: 1.6rem;
    outline: none;
}
.vuelos_final{
    width: 320px;
    height: 60px;
    align-items: flex-end;
}
.vuelos_input input[type=button]{
    border:none;
    width: 320px;
    height: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
    float: left;
    margin-left: 710px;
}
/************************Main Recomendaciones******************************/
.main_recomendado {
    margin-top: 0%;
    margin-bottom: 5%;
}
.main_recomendado h1 {
    font-size: 3rem;
}
.prev {
display: none;
}
.centro {
    display: block;
    width: 30%;
}
.next {
    display: none;
}
.recomendado_content input {
    width: 80%;
    height: 40px;
}
/************************Main Acceso******************************/
.acceso_content{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    flex-direction: column;
    padding: 0px 5px;
}
.main_acceso h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom: 5%;
}
.acceso_contentTitle h1{
    font-size: 2rem;
    font-weight: 700;
}
.main_accesoC{
    width: 80%;
    justify-content: space-around;
    flex-direction: row;
}
.medio{
    padding: 0px 5px;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);

}
/************************Main Cuenta******************************/
.main_cuenta h1{
    font-size:3rem;
    font-weight: bolder;
    color: var(--negro);
    margin-bottom: 3%;
}
.uno,.dos{
    width: 40%;
}
.uno{
    margin-right: 10%;
}
.tres input{
    width: 40%;
    margin-bottom:3% ;
}
.main_cuentaC{
    width: 80%;
}
.cuenta_content{
    padding: 2%;
}
.cuenta_content h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--negro);
    margin-bottom:3% ;
}
.cuenta_content p{
    font-size: 1.6rem;
    margin-bottom:4% ;
    line-height: 1.8rem;

}
/************************FooterSuperior******************************/
.footer_superior{
    width:85%;
    margin-top: 5%;
}
.footer_superior h1{
    font-size: 2.2rem;
}
.footer_superior p{
    font-size: 1.4rem;
    line-height: 3rem;
}
/************************FooterMedio******************************/
.footer_medio {
    width: 85%;
    margin-top: 5%;
}

.redes_rojas p{
    display: block;
    font-size: 1.6rem;
}
.R1,.R2,.R3,.R4{
    margin-right: 5%;
    width: 25px;
}
.footer_medio h1{
    margin-bottom: 3%;
}
/************************FooterFinal*****************************/
.footer_final {
    width: 85%;
}
.final_logo{
    justify-content: space-between;
}
.footer_final p{
    margin-top: 3%;
    font-size: 1.6rem;
}
.final_logo h1{
    font-size: 2rem;

}

